/cmpt-354/fall_2019/A7/nbproject/private/
/cmpt-354/fall_2019/asn7/nbproject/private/
/cmpt-354/fall_2019/asn7/build/
/cmpt-354/fall_2019/asn7/dist/
/cmpt-459/459project/train.json
/cmpt-459/459project/test.json
/cmpt-459/459project/images_sample/