body {
  font-family: sans-serif;
}

input, button{
  border-radius: 10px;
  border: 2px solid black;
  padding: 5px;
  width: 200px;
  height: 50px;
  margin-bottom: 15px;
  font-size: 1.5em;
}

/*div.row1, div.row2, div.row3 {
	clear: both;
	margin-top: 60px;
}*/

td { 
	display: flex;
	display: -webkit-flex;
	background-color: silver;
  position: relative; 
  height: 50px; 
  width: 60px;
  float: left;
  margin: 1px; 
  border-radius: 3px;
}     

#board {
  padding: 35px;
	width: 200px;
	border-radius: 25px;
	border: 2px solid grey;
}